In [34]:
import pandas as pd
from sklearn import preprocessing
from joblib import dump, load

In [35]:
df_source = pd.read_csv("salary-train-short.csv")
df_source.columns = ["text","location","contract","salary"]
df_source.fillna("NaN", inplace=True)

In [36]:
df_source.head(3)

,text,location,contract,salary
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000

In [37]:
location = preprocessing.LabelEncoder()
contract = preprocessing.LabelEncoder()

In [38]:
location = location.fit(df_source.location)
dump(location, "location")
contract = contract.fit(df_source.contract)
dump(contract, "contract")

['contract']

In [39]:
df_source.text = df_source.text.apply(lambda x: {d:x.lower().count(d) for d in "abcdefghijklmnopqrstuvwxyz"})

In [40]:
X = pd.DataFrame(list(df_source.text.values))

In [41]:
X.head(3)

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,185,32,74,78,265,41,55,51,181,0,...,1,122,146,168,51,26,20,6,20,0
1,29,0,9,19,47,8,6,12,35,0,...,0,21,16,33,8,11,2,2,4,0
2,171,37,50,73,202,20,46,52,137,5,...,1,113,97,151,33,14,26,7,20,0

In [42]:
X['location'] = location.transform(df_source.location)
X['contract'] = contract.transform(df_source.contract)

In [43]:
X.head(3)

,a,b,c,d,e,f,g,h,i,j,...,s,t,u,v,w,x,y,z,location,contract
0,185,32,74,78,265,41,55,51,181,0,...,146,168,51,26,20,6,20,0,27,2
1,29,0,9,19,47,8,6,12,35,0,...,16,33,8,11,2,2,4,0,27,2
2,171,37,50,73,202,20,46,52,137,5,...,97,151,33,14,26,7,20,0,37,2

In [44]:
y = df_source.salary

In [45]:
y.head(3)

0    33000
1    50000
2    40000
Name: salary, dtype: int64

In [46]:
from sklearn import linear_model

In [47]:
model = linear_model.LinearRegression()
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [48]:
model.predict(X)

array([41074.72385638, 30333.31676999, 30902.2813017 , 24709.94097846,
       34786.93147655, 28516.08862338, 36360.33152164, 39965.47529011,
       37246.06135413, 39117.94879019, 29664.04450939, 37738.24890803,
       26317.08637778, 31623.55441322, 38364.11647013, 29790.7529915 ,
       32403.54568233, 33900.44592375, 34222.42048224, 25657.38849371,
       35596.60638066, 38002.55123311, 28701.07935961, 29412.88866797,
       23463.77936174, 40374.57952882, 32796.99136856, 41434.27014031,
       30608.53279313, 52834.64301819, 15818.64682025, 33982.46855687,
       32077.69158789, 17850.95684315, 39525.25710093, 23338.05145361,
       18702.33157357, 35650.77397875, 17210.51990041, 41559.2698547 ,
       35592.31367367, 24800.11023693, 22519.856367  , 22113.36543904,
       35746.26211542, 26722.56229408, 32660.5861752 , 24257.62385739,
       15212.85448305, 36605.12493237, 34931.79511523, 20135.8929115 ,
       51771.9489732 , 32823.42838325, 53846.98786677, 42502.05825436,
       28250.02807087, 35179.3439173 , 22377.15790372, 44591.125031  ,
       32068.29192642, 22839.43154303, 25143.0128989 , 48388.03803095,
       32067.77643605, 36464.66614117, 47130.53016261, 52323.54330827,
       43156.64261729, 35767.98811688, 23970.78517369, 40492.5626178 ,
       88346.73723202, 38416.75195038, 38574.72159352, 33971.38318643,
       35264.73917312, 37477.44237239, 28430.78954766, 27974.14855311,
       70170.89400349, 37437.31356331, 37716.97257236, 48268.24863944,
       39151.89168027, 35848.25307904, 23192.76580409, 46277.15035337,
        8824.82200629, 29381.99602124, 19574.87933226, 39372.46858483,
       25828.2620206 , 36180.51972743, 29082.29326189, 41211.69729986,
       27196.65813688, 27247.49072453, 35240.11458202, 25356.3062869 ])

In [49]:
dump(model,"model")

['model']

Исполние модели

In [50]:
mymodel = load("model")

In [51]:
mymodel.predict(X.head(46))[0]

41074.72385637986